---
import { Markdown } from 'astro/components';
import Layout from '~/layouts/Website.astro';
---

<Layout content={{ title: 'Nice Website', description: 'Well...' }}>
<div class="w-full">
Hello World
</div>
</Layout>