---
import TheHeader from '~/components/website/TheHeader.vue'

export let content;
---

<html>
  <head>
    <title>{content.title}</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="icon" 
      type="image/svg+xml" 
      href="/favicon.svg">

    <style></style>
  </head>

  <body>
    <header>
      <TheHeader />
    </header>

    <main class="layout">
      <slot />
    </main>
  </body>
</html>
